# do not bell on tab-completion
set bell-style none

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

set completion-ignore-case on
set colored-stats on
set visible-stats on
set mark-symlinked-directories on
set colored-completion-prefix on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set print-completions-horizontally on
set page-completions off

# use vim/kak mode
# PS0="\e[2 q\2"
set editing-mode vi
# in bashrc
# set -o vi

# enable Readline not waiting for additional input when a key is pressed.
set keyseq-timeout 0
# change cursor shape normal/insert mode
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

# typing <alt>+letter send <esc>+letter
# binding useful keybindings when in insert mode
# <alt>+o normal mode before cursor
# <alt>+l normal mode after cursor
# <alt>+b normal mode beginning of line
# <alt>+e normal mode end of line
# bind something to <esc>
# bind '"<something>":vi-movement-mode'

# first time tab suggestion then cycle
# in bashrc
# bind 'tab:menu-complete'
TAB: menu-complete
# "\e\t": menu-complete
"\e[Z": menu-complete-backward

"\C-a": beginning-of-line
# "\C-b": beginning-of-line
"\C-e": end-of-line

# when command is half complete search command that complete it
"\e[A": history-search-backward
"\e[B": history-search-forward

# bind also vim/kak movements
"\C-k": history-search-backward
"\C-j": history-search-forward

# clear screen
"\C-l": clear-screen

# if else example
# $if not Bash/Octave
# $else
# $endif

## for linux console and RH/Debian xterm
# "\e[1~": beginning-of-line
# "\e[4~": end-of-line
# "\e[5~": beginning-of-history
# "\e[6~": end-of-history
# "\e[7~": beginning-of-line
# "\e[3~": delete-char
# "\e[2~": quoted-insert
# "\e[5C": forward-word
# "\e[5D": backward-word
# "\e\e[C": forward-word
# "\e\e[D": backward-word
# "\e[1;5C": forward-word
# "\e[1;5D": backward-word
