/* reset styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* the  bar */
#waybar {
    background: #1d2021;
    color: white;
    /*font-family: "Material Icons";*/
    /*font-family: "Awesome 5 Free Solid";*/
    font-size: 16px;
    font-weight: bold;
}

#pulseaudio,
#temperature,
#cpu,
#memory,
#battery,
#backlight,
#network {
    min-width: 80px;
    padding-left: 5px;
    padding-right: 5px;
}

#tags button {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: #6b705c;
    background: #1d2021;
    /*border-radius: 10px;*/
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    /* padding-left and padding-right has to be changed for some reason */
    /*all: inherit;
    padding-left: 7px;
    padding-right: 8px;*/

    box-shadow: inherit;
    text-shadow: inherit;
    color: #6b705c;
    background: #1d2021;
}

#tags button.occupied {
    color: #DDBEA9;
    background-color: #1d2021;
}

#tags button.urgent {
    color: darkred;
    background-color: #1d2021;
}

#tags button.focused {
    color: #1d2021;
    background-color: #6B705C;
}

#tags button.focused.occupied {
    /*color: #484848;*/
    background-color: #b7b7a4;
}

#tags button.focused.urgent {
    color: red;
}

#clock.date {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background: #CB997E;
    color: #1d2021;
}

#clock.time {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background: #6B705C;
    color: #1d2021;
}

#pulseaudio {
    background: #9d6b53;
    color: #1d2021;
}

#pulseaudio.muted {
    /*color: darkred;*/
}

#temperature {
    background: #CB997E;
    color: #1d2021;
}

#temperature.warning {
    color: darkred;
}

#temperature.critical {
    color: red;
}

#cpu {
    background: #DDBEA9;
    color: #1d2021;
}

#cpu.warning {
    color: darkred;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #FFE8D6;
    color: #1d2021;
}

#memory.warning {
    color: darkred;
}

#memory.critical {
    color: red;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #B7B7A4;
    color: #1d2021;
}

#battery.warning {
    color: darkred;
}

#battery.critical {
    color: red;
}

#backlight {
    background: #A5A58D;
    color: #1d2021;
}

#network {
    /*min-width: 150px;*/
    background: #6B705C;
    color: #1d2021;
}

#network.disconnected {
    /*color: darkred;*/
}
