* {
	/*font-family: inherit !important;*/
	font-weight: normal !important;
    font-style: normal !important;
   	font-family: "DejaVuSerif" !important;
   	/*font: "FiraSans-Regular" !important;*/
   	/*font-size: 14pt !important;*/
}
