/*** userChrome.css ***/

/* with privacy.resistFingerprinting tab do not start from top left */

/* drag space */
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"] {
    width: 0px !important;
}

.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
    /* border: 0 !important; */
    display: none !important;
}

#TabsToolbar {
    /*display: inline !important;*/
    /*all: initial !important;*/
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    /*position: absolute !important;*/
    /*bottom: 0 !important;*/
    /*width: 100vw !important;*/
}

#TabsToolbar #window-controls {
    display: none !important;
}

#TabsToolbar .tabbrowser-tab[selected] .tab-line {
    display: none !important;
}

/* multi-row bookmarks bar */

#PlacesToolbarItems {
    display: flex !important;
    flex-wrap: wrap !important;
}

#PersonalToolbar #PlacesToolbarItems {
    overflow-x: visible !important;
    overflow-y: visible !important;
}

#PlacesToolbar > hbox:first-child {
    display: block !important;
    /* remove bottom margin */
    margin-bottom: -6px !important;
}

/*
#PlacesToolbarItems > .bookmark-item {
    margin: 2px 2px !important;
}
*/
